<div id="main">
<div id="stripes"></div>
<div id="header">
    <div id="title">
        Энергокалькулятор
    </div>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style left small">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_vk"></a>
    <a class="addthis_button_odnoklassniki_ru"></a>
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f0a2bb36d0fde77"></script>
    <!-- AddThis Button END -->
</div>
<div id="selector">
<!-- Region select -->
<select name="region" id="region" class="updater" size="1">
<% if !@regions.blank? %>
  <% for reg in @regions %>
	<option value="<%= reg.id %>"><%= reg.name %></option>    
  <% end %> 
<% else %>
  <option value="-1">--------</option>
<% end %>
</select>

<!-- Equipment select -->
<select name="equipment" id="equipment" class="updater" size="1">
<% if !@equipments.blank? %>
  <% for eq in @equipments %>
	<option value="<%= eq.id %>"><%= eq.name %></option>    
  <% end %> 
<% else %>
  <option value="-1">--------</option>
<% end %>
</select>

<!-- Tariffs -->
<select name="tariff" id="tariff" class="updater" size="1">
	<% if !@tariffs.blank? %>
	  <% for item in @tariffs %>
	    <option value="<%= item %>"><%= I18n.t 'tariff.count.n'+item.to_s %></option>    
	  <% end %>
	<% else %>
	  <option value="-1">--------</option>
	<% end %>
</select>
<br/><br/>
</div>

<div id="error">
Произошла непредвиденная ошибка, пожалуйста, попробуйте еще раз.
</div>

<div id="calculator">
<!--
    <div id="head">
        <span class="field">За прошлый месяц</span>
        <span class="field">За этот месяц</span>
        <span class="field">Тариф</span>
        <span class="field">К оплате</span>
        
    </div>
-->
<% # TODO: Dirty hack, need refactor tariff count -%>
<% (1..3).each do |n|  %>
<% tariff_str = ''; (1..(4-n)).each{|k| tariff_str += "tariff"+(4-k).to_s+" "; } %>
<div class="calcline <%= tariff_str %>">
    <div class="left labels">
        <span class="desc"><%= I18n.t 'tariff.name.n'+n.to_s %></span><br/>
        <span class="label"><%= I18n.t 'tariff.desc.n'+n.to_s %></span>
    </div>
    <div class="left prev">
        <input type="text" name="pvalt<%= n %>" class="changeable" value="0" id="pvalt<%= n %>">    
    </div>  
    <div class="left current">
        <input type="text" name="valt<%= n %>" class="changeable" value="0" id="valt<%= n %>">    
    </div>
    <div class="left price">
        <span id="pricet<%= n %>">0</span>    
    </div>
    <div class="left res">
        <span id="res<%= n %>">0</span>    
    </div>
    <div class="clear"></div>
</div>
<% end %>

</div>

<div id="footer">
    Developed by <a href="mailto:sleephunter@gmail.com">Vasily Shmelev</a></br>
    Hosting and tech support by <a target="_blank" href="http://locum.ru">locum.ru</a></br>    
</div>
</div>