<!DOCTYPE html>
<html>
<head>
  <title>Энергокалькулятор. Заполнять счета за свет легко.</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "user" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter11752564 = new Ya.Metrika({id:11752564,
                    trackLinks:true,
                    accurateTrackBounce:true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/11752564" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">
    var reformalOptions = {
        project_id: 52927,
        project_host: "rrr3.reformal.ru",
        force_new_window: false,
        tab_alignment: "right",
        tab_top: "200",
        tab_bg_color: "#f03000",
        tab_image_url: "http://tab.reformal.ru/0J7QsdGA0LDRgtC90LDRjyDRgdCy0Y%252FQt9GM/FFFFFF/57bbce03c8df38d753c872cbc3a92ba7"
    };
    
    (function() {
        if ('https:' == document.location.protocol) return;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>
</body>
</html>
